* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Elements */

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900px;
}

p {
    font-size: 18px;
}

/* Nav header */

.nav-bar {
    background-color: #808000;
    justify-content: center;
    display: flex;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 100px 12px;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: white;
    
}
#logo {
    width: 5%;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 64px;
}


/* Main Hero */

.hero-background {
    background-image: url(https://media2.giphy.com/media/LqsGKpRRq2yFMxdzFt/giphy.gif?cid=ecf05e47nyftmqaia4fore1tg1g31gkp1nwbp79rm8eokz4x&rid=giphy.gif&ct=ghttps://media2.giphy.com/media/LqsGKpRRq2yFMxdzFt/giphy.gif?cid=ecf05e47nyftmqaia4fore1tg1g31gkp1nwbp79rm8eokz4x&rid=giphy.gif&ct=ghttps://media2.giphy.com/media/LqsGKpRRq2yFMxdzFt/giphy.gif?cid=ecf05e47nyftmqaia4fore1tg1g31gkp1nwbp79rm8eokz4x&rid=giphy.gif&ct=g);
    background-size: cover;
    background-position: center center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero {
    display: flex;
    padding: 12px 100px 12px;
    justify-content: center;
    align-items: center;
    background-color:  rgba(100, 100, 100, 0.5);
    color: white;
    height: 75%;
    border-radius: 25px;
    gap: 62px;
}

#hero-info {
    width: 450px;
}

button {
    border-radius: 10px;
    background-color: #808000;
    padding: 18px 20px 18px;
    color: white;
    border: none;
}

/* Lean more header */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-con {
    display: flex;
    align-items: center;
}

